@{
    int number = 5;
}

<h1 style="color:green">About Page</h1>

  <span>Product name: @ViewBag.Product</span> <br />
    <span>Product count: @ViewData["Count"]</span> <br />
    <span>Product type: @TempData["Type"]</span> <br />
    <span>Number: @number</span>