
<h1 style="color:red">Hello Ap204</h1>


    <span>Product name: @ViewBag.Product</span> <br />
    <span>Product count: @ViewData["Count"]</span> <br />
    <span>Product type: @TempData["Type"]</span>